<%= link_to record_path(record) do %> <div class="card-record ">
  <%= image_tag('vinyl2.jpg', alt: "Vinyl")%>
  <div class="card-info">
    <div>
      <h2>
       <%= record.title %>
      </h2>
      <p>Artist: <%=record.artist %></p>
      <p>Genre: <%=record.genre %></p>
    </div>
    <h2 class="card-record-price"><%= record.price%> $</h2>
  </div>
</div>
<% end %>
