<div class='container'>
  <h1> All Vinyls are displayed below </h1>

  <p>New Vinyl? </p><%= link_to "click here", new_record_path	%>
  <br>

<% @records.each do |record| %>
  <br>
  <p><strong>Vinyl title:</strong> <%= record.title %></p>
  <p><strong>Artist: </strong><%= record.artist %></p>
  <%= link_to "more details", record_path(record) %>
  <br>
  <br>
  <%= link_to "To reservations", new_record_reservation_path(record_id: record.id)%>
<% end %>



</div>
