<div class='container'>

  <div class='vinyls-show row pb-4', id = "vinyl-info">
    <div class='vinyl-choice text-center col-md-8 align-self-center '>
      <% if @record.photo.attached? %>
        <%= cl_image_tag @record.photo.key, alt: "Vinyl B&W", class: 'record-img' %>
      <% else %>
        <%= image_tag 'vinyl-bw.jpg', alt: "Vinyl B&W", class: 'record-img' %>
      <% end %>
    </div>
    <div class='vinyl-related text-center col-md-4 align-self-md-center'>
      <div class='row'>
        <%= image_tag('vinyl-or.jpg', alt: "Vinyl O&R", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-bw.jpg', alt: "Vinyl B&W", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-or.jpg', alt: "Vinyl O&R", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-w.jpg', alt: "Vinyl W", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-bw.jpg', alt: "Vinyl O&R", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-w.jpg', alt: "Vinyl W", class: 'col-2 col-md-4') %>
       </div>
     </div>
  </div>

  <div class='vinyl-content row justify-content-between'>

    <div class='vinyl-details justify-content-between col-8'>
      <h2>Vinyl details of <%= @record.title %> </h2>
      <p><strong>Title: </strong><%= @record.title %></p>
      <p><strong>Artist: </strong><%= @record.artist %></p>
      <p><strong>Genre: </strong><%= @record.genre %></p>
      <p><strong>Price per day: </strong><%= @record.price %></p>
      <p><strong>Pick-up location: </strong><%= @record.location %></p>

          <%= link_to "back", :back,  class: "btn btn-outline-secondary rounded-pill" %>
      <%# If-statement below can be implemented later (delete and update only for user who created this)%>
      <%# <% if current_user == user %>
          <%= link_to "delete", record_path(@record), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-secondary rounded-pill" %>
          <%= link_to "update", edit_record_path(@record), class: "btn btn-outline-secondary rounded-pill" %>
          <%= link_to "reserve", new_record_reservation_path(@record),  class: "btn btn-outline-secondary rounded-pill"%>
      <%# <% end %>
    </div>

    <div class='reviews-show col-4'>


        <% @record.reviews.each do |review| %>
          <li><p id="name"><%= review.reservation.user.name %>: </p>
          <p><%= review.content%></p>
          <p>Rating: <% number = review.rating%>
                     <% number.to_i.times do%>
                      🖤
        <% end %></p>
        <% end %>
        <%= link_to "Leave a review", new_reservation_review_path(@record)%>
    </div>
  </div>
</div>
