<div class='container'>

  <div class='vinyls-show row pb-4', id = "vinyl-info">
    <div class='vinyl-choice text-center col-md-8 align-self-center '>
      <%= image_tag 'vinyl-bw.jpg', alt: "Vinyl B&W", class: 'record-img' %>
    </div>
    <div class='vinyl-related text-center col-md-4 align-self-md-center'>
      <div class='row'>
        <%= image_tag('vinyl-or.jpg', alt: "Vinyl O&R", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-bw.jpg', alt: "Vinyl B&W", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-or.jpg', alt: "Vinyl O&R", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-w.jpg', alt: "Vinyl W", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-bw.jpg', alt: "Vinyl O&R", class: 'col-2 col-md-4') %>
        <%= image_tag('vinyl-w.jpg', alt: "Vinyl W", class: 'col-2 col-md-4') %>
       </div>
     </div>
  </div>

  <div class='vinyl-content row justify-content-between'>

    <div class='vinyl-details justify-content-between col-8'>
      <h2><%= @record.title %> </h2>
      <p><strong>Artist: </strong><%= @record.artist %></p>
      <p><strong>Genre: </strong><%= @record.genre %></p>
      <p><strong>Price per day: </strong><%= @record.price %></p>
      <p><strong>Pick-up location: </strong><%= @record.location %></p>

      <% rock = "https://cdn.pixabay.com/download/audio/2022/08/23/audio_8d07c2f3af.mp3?filename=hip-hop-rock-beats-118000.mp3"%>
      <% jazz = "https://cdn.pixabay.com/audio/2021/11/25/audio_91b32e02f9.mp3"%>
      <% electro = "https://cdn.pixabay.com/audio/2022/10/05/audio_686ddcce85.mp3"%>
      <% pop = "https://cdn.pixabay.com/audio/2022/02/07/audio_6ccd59b11c.mp3" %>
      <% hiphop = "https://cdn.pixabay.com/download/audio/2022/05/23/audio_e341a2c57a.mp3?filename=the-podcast-intro-111863.mp3"%>
      <% funk = "https://cdn.pixabay.com/download/audio/2022/03/15/audio_5b969a1b38.mp3?filename=funk-84237.mp3" %>
      <% soul = "https://cdn.pixabay.com/audio/2021/02/03/audio_67e041df5a.mp3"%>
      <% disco = "https://cdn.pixabay.com/download/audio/2022/03/28/audio_83ea8f61e5.mp3?filename=fun-disco-1-108497.mp3"%>

      <audio controls>
        <source src="<%= disco %>" type="audio/mp3">
      </audio> <br>

          <%= link_to "back", :back,  class: "btn btn-outline-secondary rounded-pill" %>
      <%# If-statement below can be implemented later (delete and update only for user who created this)%>
      <%# <% if current_user == user %>
          <%= link_to "delete", record_path(@record), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-secondary rounded-pill" %>
          <%= link_to "update", edit_record_path(@record), class: "btn btn-outline-secondary rounded-pill" %>
          <%= link_to "reserve", new_record_reservation_path(@record),  class: "btn btn-outline-secondary rounded-pill"%>
      <%# <% end %>

    </div>

    <div class='reviews-show col-4'>


        <% @record.reviews.each do |review| %>
          <li><p id="name"><%= review.reservation.user.name %>: </p>
          <p><%= review.content%></p>
          <p>Rating: <% number = review.rating%>
                     <% number.to_i.times do%>
                      🖤
        <% end %></p>
        <% end %>
        <%= link_to "Leave a review", new_reservation_review_path(@record)%>
    </div>
  </div>
</div>
