<div class="container">
  <div class="col-12 col-sm-4">
    <div class="row">
      <div class="button-container">
        <%= link_to "ROCK", "#", class: "btn btn-ghost" %>
        <%= link_to "JAZZ", "#", class: "btn btn-ghost" %>
        <%= link_to "ELECTRO", "#", class: "btn btn-ghost" %>
        <%= link_to "POP", "#", class: "btn btn-ghost" %>
        <%= link_to "HIP HOP", "#", class: "btn btn-ghost" %>
        <%= link_to "FUNK", "#", class: "btn btn-ghost" %>
        <%= link_to "SOUL", "#", class: "btn btn-ghost" %>
        <%= link_to "DISCO", "#", class: "btn btn-ghost" %>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-record">
      <%= image_tag('vinyl6.jpg', alt: "Vinyl")%>
<!--      <img src="assets/vinyl6.jpg" alt="Vinyl">-->
    <div class="card-info">
      <div>
        <h2>Record Title</h2>
        <p>Description of the record</p>
      </div>
      <h2 class="card-record-price">$ 2.00</h2>
    </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-record">
      <%= image_tag('vinyl.jpg', alt: "Vinyl")%>
      <div class="card-info">
        <div>
          <h2>Record Title</h2>
          <p>Description of the record</p>
        </div>
        <h2 class="card-record-price">$ 2.00</h2>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-record">
      <%= image_tag('vinyl2.jpg', alt: "Vinyl")%>
      <div class="card-info">
        <div>
          <h2>Record Title</h2>
          <p>Description of the record</p>
        </div>
        <h2 class="card-record-price">$ 2.00</h2>
      </div>
    </div>
  </div>

<!--    </div>-->
<!--    <div class="card" style="background-image: url('assets/vinyl1.jpg')">-->
<!--    </div>-->
<!--    <div class="card" style="background-image: url('assets/vinyl2.jpg')">-->
<!--    </div>-->
<!--    <div class="card" style="background-image: url('assets/vinyl3.jpg')">-->
<!--    </div>-->
<!--    <div class="card" style="background-image: url('assets/vinyl4.jpeg')">-->
<!--    </div>-->
<!--    <div class="card" style="background-image: url('assets/vinyl5.jpeg')">-->
<!--    </div>-->
<!--    <div class="card" style="background-image: url('assets/vinyl6.jpg')">-->
<!--    </div>-->

  </div>
</div>