<div class="container">
  <div class="row">
      <div class="button-container">
        <div class="genre-button">
        <a href="#">
          <%= image_tag("guitar.png", style:"height: 40px;") %>
          <div> <%=link_to "Rock", root_path(genre: "Rock")%> </div>
        </a>
        </div>


        <div class="genre-button">
          <a href="#">
           <%= image_tag("trumpet.png", style:"height: 40px;") %>
            <div> <%=link_to "Jazz", root_path(genre: "Jazz")%> </div>
          </a>
        </div>


        <div class="genre-button">
          <a href="#">
          <%= image_tag("icons8-record-player-80 (1).png", style:"height: 40px;", id:"electronic-icon") %>
            <div>  <%=link_to "Electro", root_path(genre: "Electro")%> </div>
          </a>
        </div>


        <div class="genre-button">
          <a href="#">
          <%= image_tag("listen.png", style:"height: 40px;") %>
            <div>  <%=link_to "POP", root_path(genre: "Pop")%> </div>
          </a>
        </div>


        <div class="genre-button">
          <a href="#">
            <%= image_tag("music.png", style:"height: 40px;") %>
            <div>  <%=link_to "Hiphop", root_path(genre: "Hiphop")%> </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <%= image_tag("drum.png", style:"height: 40px;") %>
            <div>  <%=link_to "Funk", root_path(genre: "Funk")%> </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
          <%= image_tag("piano.png", style:"height: 40px;") %>
            <div>  <%=link_to "Soul", root_path(genre: "Soul")%> </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <%= image_tag("disco-ball.png", style:"height: 40px;") %>
            <div>  <%=link_to "Disco", root_path(genre: "Disco")%> </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <div class="row">
      <% @records.each do |record| %>
        <div class="col-sm-12 col-md-3 p-1 mt-4 my-4">
          <%= render "components/card", record: record %>
        </div>

      <% end %>
    </div>
  </div>
</div>
