<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="flex">
        <%= link_to "ROCK", "#", class: "btn btn-ghost" %>
        <%= link_to "JAZZ", "#", class: "btn btn-ghost" %>
        <%= link_to "ELECTRONIC", "#", class: "btn btn-ghost" %>
        <%= link_to "POP", "#", class: "btn btn-ghost" %>
        <%= link_to "HIP HOP", "#", class: "btn btn-ghost" %>
        <%= link_to "FUNK", "#", class: "btn btn-ghost" %>
        <%= link_to "SOUL", "#", class: "btn btn-ghost" %>
        <%= link_to "DISCO", "#", class: "btn btn-ghost" %>
      </div>

      <div class="grid">
      <div class="card-container">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">$ 1</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>