<h1>My reservations</h1>

<ul>
  <% current_user.reservations.each do |reservation| %>
    <li>from: <%= reservation.start_date%> <br>
        to: <%= reservation.end_date%><br>
        album:<%= reservation.record.title%> </li>
        total amount to pay:<%= days = (reservation.end_date - reservation.start_date).to_i
                                if days < 1
                                   days = days + 1
                                end
                                days * reservation.record.price %> $
        <p></p>
  <% end %>

  <%= link_to "All vinyls", root_path%>
</ul>
