<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-6'>
<h1>Add a reservation</h1>

<%= simple_form_for [@record, @reservation] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <br>
  <%= f.submit "Create reservation", class: "btn btn-outline-secondary rounded-pill"  %>
<% end %>
<%= link_to "Back", record_path(@record), class: "btn btn-outline-secondary rounded-pill" %>
</div>
</div>
</div>
